
.select2-dropdown { 
    z-index: 9999999 !important;
}


.pg-add-admin-wrap .select2-container {
    width: 100% !important;
}

.pg-add-admin-wrap .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #d1d1d1;
}

.pg-add-admin-wrap .select2-container--default .select2-selection--multiple {   
    border: 1px solid #d1d1d1;
    min-height: 50px;
}

.pg-add-admin-wrap  .select2-container--default .select2-results>.select2-results__options { 
    font-size: 12px;
}


.pm_select2_dropdown.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f9f9f9 !important;
    color: #1a1a1a !important;
}

.pm_select2_dropdown.select2-container--default .select2-results__option img {   
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.pm_select2_dropdown ul.select2-results__options li {  
    width: 100%;
    float: left;
}

.pm_select2_dropdown ul.select2-results__options li img {   
    float: left;
    margin: 0px;
}

.pm_select2_dropdown ul.select2-results__options li span{  
    float: left;
    margin: 0px;
    margin-left: 7px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}


.pm_select2_dropdown ul.select2-results__options li.select2-results__message {  
    font-size: 12px;
    color: #A00A00;
}

.pm_select2_dropdown .select2-dropdown {  
    border: 1px solid #d1d1d1;
}