/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* coupon styling */

.wt_smart_coupon_send_coupon_wrap {

}
.wt_smart_coupon_send_coupon_wrap p {
    margin-bottom:10px;
}
.wt_smart_coupon_send_coupon_wrap ul {
    list-style-type:none; margin-left:0px; padding-inline-start:0px;
}
.wt_smart_coupon_send_coupon_wrap ul li{ float:left; margin-right:20px; }
.gift_to_friend_form {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.gift_to_friend_form .wt-form-item {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

.gift_to_friend_form .wt-form-item input {
    float: left;
    width: 100%;
}

.wt-sc-gift-coupon-block .wt_smart_coupon_send_coupon_wrap, .wt-sc-gift-coupon-block .gift_to_friend_form, .wt-sc-gift-coupon-block .gift_to_friend_form .wt-form-item, .wt-sc-gift-coupon-block .gift_to_friend_form .wt-form-item input { float:none; }
#wt-sc-gift-coupon-block .wc-block-components-radio-control__option-layout{ padding-left:10px; }
.wt_coupon_wrapper{ width:100%; position:relative; flex-direction:row; flex-wrap:wrap; display:flex; justify-content:flex-start; margin-bottom:35px; gap:20px 3%; padding: 15px 5px 5px 5px; margin-top: 10px; }
.wt_coupon_wrapper .wt-single-coupon, .wt_coupon_wrapper .wt-sc-hidden-coupon-box{ width: 30%; min-width: 314px; }
.wt_coupon_wrapper .wt-sc-hidden-coupon-box{ content:""; visibility:hidden; }

.coupon-loader { position:absolute; left:0px; top:0px; background:rgba(255,255,255,0.5); width:100%; height:100%; z-index:1000; display:none; }

.wt_smart_coupon_send_coupon_wrap input {
  margin-right: 10px;
}

.wt_smart_coupon_send_coupon_wrap li {
  margin-bottom: 11px;
}
.wt_smart_coupon_send_coupon_wrap label{
  cursor: pointer;
}
.wt-used-coupons, .wt-expired-coupons, .wt-mycoupons {
  float: left;
  width: 100%; margin-top:15px;
}


.credit_gift_to_friend_form {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.credit_gift_to_friend_form .wt-form-item {
  float: left;
  width: 100%;
  margin-bottom: 12px;
}

.credit_gift_to_friend_form .wt-form-item input {
  float: left;
  width: 100%;
}
.credit-purchase-field {
  float: left;
  width: 100%;
}

#wt_store_credit {
  float: left;
  width: 100%;
}

span.wt-credited {
  color: green;
}

span.wt-debited {
  color: red;
}


table.wt_store_credit_history{ margin-top:15px; }
.wt_sc_pagination{ width:100%; clear:both; margin-bottom:15px; text-align:right; }
.wt_sc_pagination .woocommerce-pagination{ display:inline-block; float:none; }
.wt_sc_available_coupon_sort_by{ float:right; font-size:14px; }
.wt_sc_available_coupon_sort_by form{ margin-bottom: 0; }
.wt_store_credit{ clear:both; display:flex; }
.wt_sc_bogo_cart_item_discount, .wt_sc_bogo_cart_item_discount *{ color:green; font-size:small; }
.wt-mycoupons:has(.wt_sc_myaccount_no_available_coupons) .wt_sc_available_coupon_sort_by { display: none; }